* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* reset */
body{
    background-color: black;
}
nav{
    width: 100vw;
    height: 60px;

    background-color: #222222;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 0;
    position: fixed;
}
nav ul{
    display: flex;
    gap: 20px;
    list-style-type: none;

}
.fa{
    color: white;
    font-size: 2em;
    margin:8px;
    text-align: middle;
}
.settings-user{
    color: white;
}
nav .end-meeting{
    background-color: #4A4A4A;
    color: red;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;

}
header .settings-zoom{
    color: white;
    display: flex;
    justify-content: flex-end;

}
header .settings-zoom ul{
    margin: 5px;
    list-style-type: none;
    display: flex;
    
    gap: 15px;
}
header .settings-zoom ul .text{
    text-align: middle;
    font-size: 2em;
    padding-right: 3px;
}

header .settings-zoom ul .view , .settings-zoom ul .screen{
    background-color: #4A4A4A;
    border-radius: 8px;

    padding: 1px;

    font-size: 0.4em;
    text-align: center;
    
}

.container{
    width: 1250px;

    padding: 60px;

    background-color: white;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}