* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* reset */
body{
    background-color: black;
    font-family: sans-serif;
}
nav{
    width: 100%;
    height: 60px;

    background-color: #222222;
    color: #ffffff;

    display: flex;
    justify-content: space-between;

    position: fixed;
    bottom: 0;
    right: 0;
    
   
}
nav .functions-left , 
nav .functions-central {
    /* height: 100%; */
    display: flex ;
    gap: 10px;
}

.button {
    display: flex;
    flex-direction: column;
    /* camabito asse principale devo usare justify-content */
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
    padding: 8px 10px;

    position: relative;
}
.button .icons {
    font-size: 20px;
}
.button .text{
    font-size: 12px;
}
/* Inserisco la chevron tramite css e non html, aggungo una classe vicino alla classe button e siccome voglio che a chevron stia dopo l'icona la stilizzo con ::after nel css*/
.button.chevron {
    margin-right: 10px;
    /* oppure la gestisco von il padding --> padding-right: 30px; ma devo fare valore right:0; alla position:absolute */
}
.button.chevron::after {
    content: '\f077';
    /* ora lo tolgo dal fluso e lo posiziono nella maniera indicata e deve fare rifarimento al genitore, ovvero button che è positon:relative*/
    position: absolute;
    right: -10px;

    font-family: 'FontAwesome';
}
.chevron{
    font-size: 12px;
}
.fa-share-from-square {
    color: #4BC800;
}

nav .end-meeting{
    background-color: #4A4A4A;
    color: red;
    height: 100%;


    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;

} 
/* fine nav */
header .settings-zoom{
    color: white;
    display: flex;
    justify-content: flex-end;

}
header .settings-zoom ul{
    margin: 5px;
    list-style-type: none;
    display: flex;
    
    gap: 15px;
}
header .settings-zoom ul .text{
    text-align: middle;
    font-size: 2em;
    padding-right: 3px;
}

header .settings-zoom ul .view , .settings-zoom ul .screen{
    background-color: #4A4A4A;
    border-radius: 8px;

    padding: 1px;

    font-size: 0.4em;
    text-align: center;
    
}
.container{
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;

    
}
#photo-container{
    
   /*  width: 100%;
    height: 100vh; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 80px 16px 110px;
}
#photo-container .col{
    width: calc(100% / 7 - 1px);
   
    border: black 1px solid;

    padding: 2px;
}
#photo-container .col:nth-last-of-type(7n){
    padding-left: 0;
}
#photo-container .col:nth-last-of-type(7n + 1){
    padding-right: 0;
}
#photo-container .col .col-inner{
    width: 100%;
    height: 100%;
    position: relative;
}
#photo-container .col .col-inner img{
    width: 100%;

    display: block;
}
#photo-container .col .col-inner .tag{
    color: white;
    background-color: rgba(0, 0, 0, 80%);

    position: absolute;
    bottom: 0px;
    left: 0px;
    
}
#photo-container .col .col-inner .tag .fa{
    font-size: 1em;
}

