* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* reset */
body{
    background-color: black;
}
nav{
    width: 100vw;
    height: 60px;

    background-color: #222222;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 1;
}
nav .functions ul{
    display: flex;
    gap: 20px;
    list-style-type: none;

}

nav .settings-user ul{
    color: white;
    display: flex;
    gap: 20px;
    list-style-type: none;
    align-items: center;
}
.fa{
    color: white;
    font-size: 2em;
    margin:8px;
    text-align: middle;
}
.fa-angle-up{
    text-align: middle;
    font-size: 0.8em;
}
nav .end-meeting{
    background-color: #4A4A4A;
    color: red;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;

}
header .settings-zoom{
    color: white;
    display: flex;
    justify-content: flex-end;

}
header .settings-zoom ul{
    margin: 5px;
    list-style-type: none;
    display: flex;
    
    gap: 15px;
}
header .settings-zoom ul .text{
    text-align: middle;
    font-size: 2em;
    padding-right: 3px;
}

header .settings-zoom ul .view , .settings-zoom ul .screen{
    background-color: #4A4A4A;
    border-radius: 8px;

    padding: 1px;

    font-size: 0.4em;
    text-align: center;
    
}
.container{
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}
#photo-container{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#photo-container .col{
    width: calc(100% / 7 - 1px);
   
    border: black 1px solid;

    padding: 2px;
}
#photo-container .col:nth-last-of-type(7n){
    padding-left: 0;
}
#photo-container .col:nth-last-of-type(7n + 1){
    padding-right: 0;
}
#photo-container .col .col-inner{
    width: 100%;
    height: 100%;
    position: relative;
}
#photo-container .col .col-inner img{
    width: 100%;

    display: block;
}
#photo-container .col .col-inner .tag{
    color: white;
    background-color: rgba(0, 0, 0, 80%);

    position: absolute;
    bottom: 0px;
    left: 0px;
    
}
#photo-container .col .col-inner .tag .fa{
    font-size: 1em;
}

